body {
  margin: 0;
  width: 100%;

  font-family: sans-serif;

  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  body {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
h1 {
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
p {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
a {
  color: #0057af;
}
a:visited {
  color: #551a8b;
}
@media (prefers-color-scheme: dark) {
  a {
    color: #3197ff;
  }
  a:visited {
    color: #b47de7;
  }
}
body > figure {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
body > figure > a {
  color: inherit;
  text-decoration: none;

  margin: 10px;
}
body > figure > a > img {
  width: 100%;
  border-radius: 20px;
}
body > figure > figcaption {
  margin: 20px;
  margin-top: 0;
  text-align: center;
}
